services:
  hbase_master:
    container_name: hbase_master
    image: ghcr.io/engineersbox/hbase:2.6.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/cluster/logs:/var/lib/hbase/logs
      - /var/lib/cluster/config/hbase:/var/lib/hbase/conf
      # HDFS
      - /var/lib/hadoop:/var/lib/hadoop
      # OTEL
      - /var/lib/cluster/config/hbase/otel.properties:/etc/otel/otel.properties
    mem_limit: 16gb
    memswap_limit: 16gb
    mem_swappiness: 0
    ports:
      - 16000:16000
      - 16010:16010
      - 16100:16100
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    command: /bin/bash -c "/var/lib/hbase/bin/start.sh master"
    profiles:
      - hbase_master
  hbase_zookeeper:
    container_name: hbase_zookeeper
    image: ghcr.io/engineersbox/hbase:2.6.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/cluster/logs:/var/lib/hbase/logs
      - /var/lib/cluster/config/hbase:/var/lib/hbase/conf
      - /var/lib/cluster/zookeeper:/etc/zookeeper
      # HDFS
      - /var/lib/hadoop:/var/lib/hadoop
      # OTEL
      - /var/lib/cluster/config/hbase/otel.properties:/etc/otel/otel.properties
    mem_limit: 16gb
    memswap_limit: 16gb
    mem_swappiness: 0
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    command: /bin/bash -c "/var/lib/hbase/bin/start.sh zookeeper"
    profiles:
      - hbase_zookeeper
  hbase_regionserver:
    container_name: hbase_regionserver
    image: ghcr.io/engineersbox/hbase:2.6.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/cluster/logs:/var/lib/hbase/logs
      - /var/lib/cluster/config/hbase:/var/lib/hbase/conf
      # HDFS
      - /var/lib/hadoop:/var/lib/hadoop
      # OTEL
      - /var/lib/cluster/config/hbase/otel.properties:/etc/otel/otel.properties
    mem_limit: 16gb
    memswap_limit: 16gb
    mem_swappiness: 0
    ports:
      - 16020:16020
      - 16030:16030
      - 8080:8080
      - 8085:8085
      - 9090:9090
      - 9095:9095
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    command: /bin/bash -c "/var/lib/hbase/bin/start.sh regionserver"
    profiles:
      - hbase_regionserver
  hbase_masterbackup:
    container_name: hbase_masterbackup 
    image: ghcr.io/engineersbox/hbase:2.6.3
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/cluster/logs:/var/lib/hbase/logs
      - /var/lib/cluster/config/hbase:/var/lib/hbase/conf
      # HDFS
      - /var/lib/hadoop:/var/lib/hadoop
      # OTEL
      - /var/lib/cluster/config/hbase/otel.properties:/etc/otel/otel.properties
    mem_limit: 16gb
    memswap_limit: 16gb
    mem_swappiness: 0
    ports:
      - 16000:16000
      - 16010:16010
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    command: /bin/bash -c "/var/lib/hbase/bin/start.sh masterbackup"
    profiles:
      - hbase_masterbackup
  otel-hostmetrics:
    container_name: otel-hostmetrics
    image: otel/opentelemetry-collector-contrib:0.101.0
    volumes:
      - "/var/log/otel/hostmetrics:/var/log/otel"
      - "/var/lib/cluster/config/otel/otel-instance-config.yaml:/etc/otelcol-contrib/config.yaml"
      - /var/run/docker.sock:/var/run/docker.sock 
      - /sys/fs/cgroup:/hostfs/sys/fs/cgroup 
      - /etc:/hostfs/etc 
      - /etc:/etc
      - /var/cache:/hostfs/cache 
      - /usr/src:/hostfs/usr/src 
      - /lib/modules:/hostfs/lib/modules 
      - /boot:/boot
      - /snap:/snap
      - /:/hostfs
      - /proc:/hostfs/proc
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    pid: host
    privileged: true
  otel-kernel:
    container_name: otel-kernel
    image: otel/opentelemetry-ebpf-kernel-collector:v0.10.2
    command: ["--log-console"]
    volumes:
      - "/var/log/otel/kernel:/var/log/otel"
      - /var/run/docker.sock:/var/run/docker.sock 
      - /sys/fs/cgroup:/hostfs/sys/fs/cgroup 
      - /etc:/hostfs/etc 
      - /var/cache:/hostfs/cache 
      - /usr/src:/hostfs/usr/src 
      - /lib/modules:/hostfs/lib/modules 
    env_file:
      - path: /var/lib/cluster/node_env
        required: true
    network_mode: host
    pid: host
    privileged: true
